.friendList {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.item {
  display: flex;
  align-items: center;
  width: 220px;
  background-color: #fff;
  height: 50px;
  box-shadow: 3px 3px 5px black;
}
.item:not(:last-child) {
  margin-bottom: 15px;
}
.status {
  display: flex;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin-left: 15px;
}
.online {
  background-color: green;
}
.offline {
  background-color: red;
}
.avatar {
  width: 40px;
  height: 40px;
  margin-left: 7px;
}
.name {
  margin-left: 7px;
  font-size: 22px;
  font-weight: 500;
}
